.App {
  text-align: center;
}

.todoAppForm{
   display:grid;
   grid-template-columns: 1fr auto; 
}
.todoInput{
  font-size: 24px;;
} 
.todoAppAddButton{
  border:0;
  color:rgb(247, 247, 253);
  width:100px;
  cursor:pointer;
  background-color:rgb(85, 85, 247) ;
  font-weight: bold;
}