.App {
  text-align: center;
}
 
.todoAppLabel{
  display: flex;
  margin-top:5px;
  padding: 10px 0px;
  margin-left:30%; 
  width: 40%;
  background-color: rgb(228, 234, 247);
  border: 1px solid rgb(240, 243, 250);
  color: blue;
}
 .check{
   width: 20px;
 }
 .deleteButton{
    border: 0;
    color:rgb(38, 110, 243);
    background-color: rgb(228, 234, 247);
 }