.footer{
    display: flex;
    justify-content: space-between;
    margin-top:5px; 
    margin-left:25%; 
    width: 50%;
    color: blue;
   }
   .tasksDone{
    width: 25%;
    padding: 10px 0px;
    background-color: rgb(247, 250, 214)
   }
    .removeBtn{
      background-color:rgb(84, 158, 243);
      color:white;
      border: 0;
      font-size: 18px;
    }